.error {
    text-align: center;
    color: white;
    background-color: red;
    margin-bottom: 1rem;
}

.form_title {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.table-header>tr>th {
    background: #2874f0 !important;
    color: white;
}

.border-color tr {
    color: red !important;
}

.form_button {
    background: black !important;
    border: 0 !important;
    border-radius: 0 !important;
    width: 20%;
}